<div>
	<p>Hello!</p>

	<p>Welcome to PubGamer :) To confirm your registration, please click the url below.</p>

	<p><%= link_to 'confirm email', "http://#{@user.confirmation_link}" %></p>
	<p>You can also copy and paste this address into a browser to confirm: <%= @user.confirmation_link %></p>
</div>
