<div>
	<p>Reset Password</p>

	<p>Follow <%= link_to 'reset password', "http://#{@user.reset_password_link}" %> to reset your PubGamer password.</p>
	<p>You can also copy and paste this address into a browser to confirm: <%= @user.reset_password_link %></p>
</div>
