<div>
<h2>Inaccurate Venue Report</h2>

<p>Reported by user with id: <%= @user.id %></p>

<p>Venue: <%= link_to "#{@venue.name}", "http://localhost:3000/venues/#{@venue.id}"%></p>

<p><%= @message %></p>
</div>