<div>
<h2>Inaccurate Venue Report</h2>

<p>Reported by user with id: <%= @user.id %></p>

<p>Venue: <a href="http://localhost:3000/venues/#{@venue.id}" ><%=@venue.name %></a></p>

<p><%= @message %></p>
</div>